/* -- HEADER -- */
header {
    background-color: var(--bg-header);
    border-bottom: 1px solid var(--border-color);
}

.nav-links a {
    color: var(--text-main);
}
.nav-links a:hover, .nav-links a.active {
    color: var(--btn-color);
}

/* -- CARTES PEINTRES -- */
.card {
    max-width: 350px;
    width: 100%;
    margin: 0 auto;
}

.card-img {
    height: 220px;
    width: 100%;
}

.card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

#cezanne img {
    object-position: center;
}

#matisse img {
    object-position: top;
}

.card-content {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    text-align: left;
}

.card h2 {
    font-size: 1.5rem;
}

.card .btn {
    font-family: var(--font-body);
    font-size: 0.9rem;
    width: fit-content;
    margin-top: auto;
    align-self: flex-start;
}